@use "../utils" as *;
@forward "./shorten";
@forward "./benefits";

.main {
  background-color: $light-bg;
}

.hook {
  @include flex($dir: column);
  padding: s(90) s(115) s(55);
  gap: 35px;
  &__para {
    font-size: $text-150;
    font-weight: 500;
    width: s(500);
    text-align: center;
  }
  @include down-mobile {
    @include container;
    margin-top: s(95);
    margin-bottom: s(55);
    gap: 25px;
    &__para {
      width: 100%;
    }
  }
}

.CTA {
  background: $dark-box var(--CTA-bg);
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  color: $light-bg;
  display: grid;
  place-items: center;
  margin-top: s(70);
  padding: s(60) 0 s(40);
  gap: s(40);
  h2 {
    font-size: 27px;
  }
  @include down-mobile {
    gap: s(25);
  }
}
