@use "./utils" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@media (min-width: 701px) {
  .mobile {
    display: none;
  }
  h2 {
    font-size: $text-400;
    font-weight: 700;
  }
  h3 {
    font-size: clamp($text-150,$text-300);
    font-weight: 700;
  }
  h4 {
    font-size: $text-200;
    font-weight: 700;
  }
  p {
    font-size: $text-100;
    font-weight: 700;
    color: $light-text;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 1px;
  }
  .desktop {
    display: none;
  }
}
html,
body,
.container {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", cursive;
  color: $dark-text;
}
.footer__icons {
  background: #000;
}

.pill-btn {
  @include btn-pill;
}
