@use "./utils" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@media (min-width: 701px) {
  :root {
    --form-bg: url("/images/bg-shorten-desktop.svg");
    --CTA-bg: url("/images/bg-boost-desktop.svg");
    --h2-fs: $text-400;
  }
  .mobile {
    display: none !important;
  }
  h2 {
    font-size: $text-400;
    font-weight: 700;
    font-size: $text-400;
  }
}
@media (max-width: 700px) {
  :root {
    --CTA-bg: url("/images/bg-boost-mobile.svg");
    --form-bg: url("/images/bg-shorten-mobile.svg");
    --h2-fs: 111px; //,clamp(s(27),2vw,2vw);;
  }

  .desktop,
  .desktop *,
  .desktop div {
    display: none !important;
  }
  h2 {
    text-align: center;
    font-size: clamp(s(27), 1.8vw, 2vw);
    font-weight: 700;
  }
}

h3 {
  font-size: clamp($text-150, $text-300);
  font-weight: 700;
}
h4 {
  font-size: $text-200;
  font-weight: 700;
}
p {
  font-size: $text-100;
  font-weight: 700;
  color: $light-text;
}

html,
body,
.container {
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  color: $dark-text;
}

.btn {
  display: grid;
  place-items: center;
  padding: s(13) s(24);
  border-radius: s(100);
  background-color: $light-box;
  border: none;
  width: max-content;
  cursor: pointer;
  p {
    color: $light-bg;
    font-weight: 700;
  }
  &:focus,
  &:active,
  &:hover {
    background-color: $btn-hover;
    outline: none;
  }
  &:focus,
  &:active {
    outline: none;
    color: $light-bg;
    border: 1px solid lighten($light-box, 20%);
 animation: press 0.2s 1 linear;
  }
}
@keyframes press {
  0% {
    transform: scale(0.99);
  }
  50% {
  transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}