@use "./utils" as *;

.footer {
  @include container(55);
  @include flex(flex-start, $justify: space-between);
  background-color: $dark-bg;
  &__menu {
    @include flex(flex-start, $justify: space-between);
    gap: clamp(s(20), 5vw, s(80));
    width: 100%;
    @include tablet {
      gap: clamp(s(20), 2vw, s(40));
    }
  }
  &__nav {
    @include flex(flex-start, $justify: space-between);
    width: fit-content;
    gap: clamp(s(30), 3.5vw, s(70));
  }
  &__button {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
  &__link {
    &--header {
      color: $light-bg;
      padding-bottom: s(25);
    }
    &:not(&--header) {
      width: max-content;
      margin-bottom: s(10);
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: $footer-hover;
      }
      button:focus &,
      button:active & {
        border-bottom: 3px solid $footer-hover;
      }
    }
  }
  &__icons {
    display: flex;
    width: max-content;
    gap: s(25);
  }
  &__icon {
    width: 32px !important;
    height: 32px !important;
    color: $light-bg;
    cursor: pointer;
    &:hover {
      color: $footer-hover;
    }
    &:focus,
    &:active {
      border: 3px solid $footer-hover;
    }
  }
  @include tablet {
    &__nav {
      gap: clamp(s(15), 1vw, s(35));
    }
  }
  &__icons {
    gap: s(5);
    padding-right: s(5);
    margin-left: s(20);
  }
  @include down-mobile {
    flex-direction: column;
    align-items: center;
    &__menu {
      align-items: center;
      flex-direction: column;
      gap: 0;
    }
    &__nav {
      margin-top: s(50);
      margin-bottom: s(45);
      text-align: center;
      align-items: center;
      flex-direction: column;
    }
    &__links {
      display: block;
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icons {
      gap: s(20);
    }
  }
}
