@use "./utils" as *;

// * Header
.header {
  display: grid;
  height: max-content;
  min-height: 100vh;
  width: fit-content;
  gap: s(70);
  padding: s(55) 0;
}
// * Nav
.nav {
  @include container;
  @include flex;
  height: s(40);

  &__logo {
    padding-right: clamp(s(25), 4vw, s(70));
  }
  &__menu {
    @include flex;
    flex: 1;
  }
  &__links {
    @include flex($justify: flex-start, $flex: 1);
    padding: s(10);
    gap: s(30);
  }
  &__link:hover,
  &__link:focus {
    cursor: pointer;
    color: $dark-text;
  }

  &__account {
    @include flex;
    gap: s(30);
    width: min-content;
  }
}

// * Banner
.banner {
  @include flex(flex-start, space-evenly);
  @include container($r: true);
  height: 100%;
  gap: clamp(s(30), 11vw, s(100));
  padding-top: 1px;
  padding-right: 0%;

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: clamp(s(15), 1.5vw, s(35));
  }
  &__title {
    font-size: clamp($text-400, 5vw, $text-500);
    font-weight: 700;
    line-height: 1.2;
  }
  &__para {
    font-size: clamp($text-150, $text-300);
    padding-right: clamp(s(3), 4vw, s(80));
    font-weight: 500;
    color: $light-text;
  }
  &__img {
    flex: 1;
    width: 30vw;
  }
}

@include down-mobile {
  .nav{
    @include flex;
background-color: aquamarine;  }
}