@use "./utils" as *;

// * Header
.header {
  width: fit-content;
  padding: s(55) 0;
}
// * Nav
.nav {
  @include container;
  @include flex;
  height: s(40);
  margin-bottom: s(70);

  &__logo {
    padding-right: clamp(s(25), 4vw, s(70));
  }
  &__menu {
    @include flex;
    flex: 1;
  }
  &__links {
    @include flex($justify: flex-start, $flex: 1);
    padding: s(10);
    gap: s(30);
  }
  &__link {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
  &__link:active,
  &__link:focus {
    border-bottom: 1px solid $dark-text;
  }
  &__link:hover,
  &__link:focus {
    cursor: pointer;
    p {
      color: $dark-text;
    }
  }

  &__account {
    @include flex;
    gap: s(30);
    width: min-content;
  }
}

// * Banner
.banner {
  @include flex(flex-start, space-evenly);
  @include container($r: true);
  height: 100%;
  padding-top: 1px;
  overflow: hidden;
  padding-right: 0%;

  &__info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: clamp(s(15), 1.5vw, s(35));
  }
  &__title {
    font-size: clamp($text-400, 5vw, $text-500);
    font-weight: 700;
    line-height: 1.2;
  }
  &__para {
    font-size: clamp($text-150, $text-300);
    width: 35vw;
    font-weight: 500;
    color: $light-text;
  }
  &__imgWrapper {
    width: 50vw;
    flex: 1;
    position: relative;
    right: -5%;
  }
  &__img {
    height: 482px;
  }
}

@include tablet {
  .header {
    gap: s(30);
  }
  .banner__info {
    gap: clamp(s(15), 5.5vw, s(35));
  }
}
@include down-mobile {
  .header {
    padding: 0;
    margin: 0;
    padding-top: s(40);
    padding-bottom: s(85);
  }
  .nav {
    padding: 0;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    &__menu {
      position: absolute;
      background: $dark-box;
      border-radius: 4px;
      box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.25);
      z-index: 111;
      top: 75px;
      left: 0;
      gap: s(75);
      padding: s(45) s(25);
      justify-content: flex-start;
      flex-direction: column;
    }
    &__links {
      margin: 0;
      padding: 0;
      flex-direction: column;
      gap: s(35);
      position: relative;
      &::after {
        content: "";
        background-color: $light-text;
        height: 3px;
        width: 100%;
        position: relative;
        top: 38px;
      }
    }
    &__link {
      p {
        font-size: $text-150;
        color: $light-bg;
      }
      &:active,
      &:focus {
        border-bottom: 1px solid $light-text;
      }
      &:hover,
      &:focus {
        p {
          color: $light-text !important;
        }
      }
    }
    &__account {
      flex-direction: column;
      width: 100%;
    }
    &__btn {
      width: 100%;
    }
    &__menuIcon {
      width: s(24) !important;
      height: s(24) !important;
      &:hover {
        border: 3px solid $light-box;
      }
      &:focus-visible {
        background-color: $light-box;
      }
    }
  }
  .banner {
    margin: 0;
    gap: s(50);
    padding: 0;
    flex-direction: column-reverse;
    &__info {
      padding: 0;
      padding: 0 s(30) s(20);
      align-items: center;
      text-align: center;
      height: max-content;
    }
    &__title {
      font-size: 11vw;
    }
    &__para {
      padding-bottom: s(10);
      font-size: 5vw;
      max-width: s(500);
      width: fit-content;
    }
    &__btn {
      transform: scale(1.3);
      &:hover,
      &:focus,
      &:active
      {
        transform: scale(1.2);
      }
    }
    &__imgWrapper {
      width: 100vw;
    }
    &__img {
      width: 100%;
      height: s(348);
    }
  }
}
