// * --- Import
@use "sass:math" as m;
// * --- Function
@function s($size, $em: 16) {
  @return m.div($size, $em) + em;
}
// * --- Variables
// * -- font size
$text-100: s(15);
$text-150: s(18);
$text-200: s(20);
$text-300: s(22);
$text-400: s(40);
$text-500: s(75);
// * -- colors
$light-box: hsl(180, 66%, 49%);
$dark-box: hsl(257, 27%, 26%);
$light-bg: #f0f1f6;
$light-text: hsl(257, 7%, 63%);
$dark-bg: hsla(266, 10%, 14%, 1);
$dark-text: hsla(255, 11%, 22%, 1);
$btn-hover: hsla(180, 55%, 75%, 1);
$footer-hover: hsla(181, 65%, 53%, 1);
$error: hsl(0, 87%, 67%);
// * -- spacing
$container: clamp(s(20), 11vw, s(166));
$container-tablet: clamp(s(20), 3.5vw, s(80));
$container-mobile: s(20);
// * --- Mixins
@mixin container($y: 0, $r: false) {
  $rd2: $container;
  $rt2: $container-tablet;
  $rt3: $container-mobile;
  @if $r {
    $rd2: 0;
    $rt2: 0;
    $rt3: 0;
  }
  padding: s($y) $container;
  padding-right: $rd2;
  @include tablet {
    padding: s($y) $container-tablet;
    padding-right: $rt2;
  }
  @include down-mobile {
    padding: s($y) $container-mobile;
    padding-right: $rt3;
  }
}
// * -- displays
@mixin flex($align: center, $justify: space-between, $dir: row, $flex: 0) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
  flex: $flex;
}
// * -- break pointer
@mixin up-desktop {
  @media all and (min-width: 951px) {
    @content;
  }
}
@mixin down-desktop {
  @media all and (max-width: 950px) {
    @content;
  }
}
@mixin tablet {
  @media all and (max-width: 950px) and (min-width: 701px) {
    @content;
  }
}
@mixin up-mobile {
  @media all and (min-width: 701px) {
    @content;
  }
}
@mixin down-mobile {
  @media all and (max-width: 700px) {
    @content;
  }
}
